@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Prata';
  src: url('./fonts/Prata-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf') format('ttf');
  font-weight: 700;
}