@import '../scss/variables.scss';

.header {
  position: relative;
  max-width: 1300px;
  height: 52px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    display: flex;
  }
  &__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 92.5px);
    width: 185px;
    height: 52px;
    cursor: pointer;
  }
  &__nav {
    display: flex;
  }
  &__city-select {
    position: relative;
    width: 160px;
    height: 16px;
    box-sizing: border-box;
  }
}

.info {
  &__city-wrapper {

  }
  &__city-unit {
    @include default-text;
  }
  &__phone-wrapper {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
  &__phone-number {
    @include default-text;
  }
  &__btn-select {
    cursor: pointer;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.logo {
  &__title {
    @include title;
    text-align: left;
    &_normal {
      color: $text-default;
    }
  }
  &__description {
    padding-top: 6px;
    padding-left: 2px;
    @include description;
  }
}

.nav {
  &__links span {
    margin: 0 10px;
  }
  &__link {
    @include default-text;
    text-decoration: none;
    cursor: pointer;
  }
  &__buttons {
    margin-left: 70px;
  }
  &__btn {
    width: 20px;
    height: 20px;
    margin-left: 28px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:first-of-type {
      position: relative;
      margin-left: 0;
    }
  }
  &__favourite-value {
    position: absolute;
    top: -7px;
    right: -17px;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-text;
    background-color: $active-color;
    border-radius: 50%;
  }
}

.city-select {

  &__native,
  &__custom {
    width: 160px;
    height: 16px;
  }
  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @include default-text;
  }
  &__native:focus,
  &__custom.isActive .city-select__custom-trigger {
    outline: none;
  }
  &__label {
    display: block;
  }
  &__wrapper {
    position: relative;
    height: 16px;
  }
  &__native,
  &__custom-trigger {
    background-color: #fff;
  }
  &__native {
    height: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
  &__custom-trigger {
    position: relative;
    height: 16px;
    padding: 0 0 0 24px;
    cursor: pointer;
    z-index: 10;
  }
  &__custom-trigger::before {
    content: url("../images/nav.svg");
    position: absolute;
    top: 0;
    left: 0;
    line-height: 16px;
    z-index: 100;
  }
  &__custom-trigger::after {
    content: url("../images/rectangle.svg");
    position: absolute;
    top: 0;
    right: 0;
    line-height: 16px;
    
  }
  &__custom-options {
    position: absolute;
    left: 0;
    top: 24px;
    width: 197px;
    height: 164px;
    padding: 13px 0 11px 0;
    box-sizing: border-box;
    @include default-text;
    background-color: #fff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
  &__custom.isActive .city-select__custom-options {
    display: block;
  }
  &__custom.isActive .city-select__custom-trigger::after {
    transform: rotate(180deg);
  }
  &__custom-option {
    position: relative;
    padding: 11px;
    padding-left: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  &__custom-option.isHover,
  &__custom-option:hover {
    background-color: #FAFAFA;
  }
  &__custom-option:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &__custom-option.isActive::before {
    content: url('../images/check.svg');
    position: absolute;
    bottom: 6px;
    right: 28px;
  }
}

#flag {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
#phone {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
#rectangle {
  margin-left: 8px;
  width: 8px;
  height: 8px;
}

@media (hover: hover) {
  .city-select__custom {
    display: block;
  }

  .city-select__native:focus + .city-select__custom {
    display: none;
  }
}