@import '../scss/variables.scss';

.product {
  max-width: 1300px;
  margin: 120px auto 0;
  &__title {
    text-align: start;
    @include popular-title;
  }
  &__top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image-container {
    width: 550px;
    height: 550px;
  }
  &__btn-arrow {
    cursor: pointer;
    color: $button-color-normal;
    border: 1px solid $button-color-normal;
    background-color: transparent;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    transition: .1s;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    &:first-of-type {
      &:active {
        padding-right: 20px;
      }
    }
    &:last-of-type {
      margin-left: 8px;
      &:active {
        padding-left: 20px;
      }
    }
    &:hover {
      background-color: $slider-btn-hover;
    }
  }
  &__wrapper {
    display: flex;
  }
  &__info-container {
    width: 650px;
    margin-left: 100px;
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  &__item-title {
    margin: 24px 0 20px;
    @include product-title;
  }
  &__article {
    margin: 0;
    @include discount;
  }
  &__price-container {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid $line-color;
  }
  &__discount-info {
    margin-top: 36px;
    display: flex;
    align-items: center;
  }
  &__price {
    @include price;
  }
  &__discount {
    margin: 0 0 0 16px;
    text-decoration: line-through;
    @include discount;
  }
  &__discount-tag {
    width: 50px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0 0 16px;
    border-radius: 15px;
    @include tag-text;
    background-color: $tag-color-discount;
  }
  &__countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0 0 36px;
    width: 224px;
    height: 64px;
    background-color: $countdown-color;
  }
  &__colours {
    margin-top: 30px;
  }
  &__sizes {
    margin-top: 30px;
  }
  &__nav-area {
    width: 549px;
    display: flex;
    justify-content: space-between;
  }
}

.nav-area {
  display: flex;
  flex-direction: column;
  width: 400px;
  &__btn-basket {
    text-transform: uppercase;
    text-align: center;
    @include button-text;
    padding: 21px 0;
    cursor: pointer;
    color: $main-color;
    background-color: $button-color-normal;
    border: none;
    &:hover {
      background-color: $button-basket-hover;
    }
    &:active {
      background-color: $button-color-pressed;
    }
  }
  &__btn-buy {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    @include button-text;
    padding: 20px 0;
    cursor: pointer;
    color: $text-default;
    background-color: $main-color;
    border: 1px solid $text-default;
    box-sizing: border-box;
    &:hover {
      background-color: $button-color-normal;
      color: $main-color;
    }
    &:active {
      background-color: $button-color-pressed;
      color: $main-color;
    }
  }
  &_s {
    margin-left: 39px;
  }
  &__btn-secondary {
    @include secondary-button;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 18px;
    &:first-of-type {
      margin-top: 0;
    }
    &:hover svg path {
      fill: $secondary-button-hover;
    }
    &:nth-child(2):hover svg line {
      stroke: $secondary-button-hover;
    }
    &:active svg path {
      fill: $secondary-button-active;
    }
    &:nth-child(2):active svg line {
      stroke: $secondary-button-active;
    }
  }
  &__btn-text {
    margin: 0 0 0 8px;
  }
}

.countdown {
  &__cell {
    margin: 0 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 40px;
    text-align: center;
    background-color: $main-color;
    border: 1px solid $border-color;
  }
  &__value {
    @include countdown-value;
  }
  &__text {
    @include countdown-text;
  }
}

.rating {
  &__star {
    padding: 0;
    cursor: pointer;
    margin-left: 6px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    svg path {
      fill: $promo-soft-orange;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type svg path {
      fill: $main-color;
    }
    &:hover svg path {
      fill: $promo-soft-orange;
    }
  }
  &__value {
    padding-left: 10px;
    @include default-text;
  }
}

.colours {
  &__subtitle {
    @include product-subtitle;
  }
  &__choice {
    display: flex;
  }
  &__color {
    cursor: pointer;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $light-gray;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-of-type {
      margin-left: 0;
    };
    &:nth-child(2) {
      border: 1px solid $button-color-normal;
      cursor: default;
    }
    span {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
}

.sizes {
  &__top-side {
    display: flex;
    align-items: center;
  }
  &__subtitle {
    display: flex;
    align-items: center;
    @include product-subtitle;
    margin: 0;
  }
  &__additional-icon {
    cursor: pointer;
    margin-left: 8px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include info;
    border-radius: 50%;
    background-color: $line-color;
    &:hover {
      background-color: $additional-info;
    }
    &:hover + .sizes__additional-info{
      display: flex;
    }
  }
  &__list {
    margin: 16px 0 40px;
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  &__item {
    cursor: pointer;
    @include default-text;
    text-align: center;
    width: 50px;
    padding: 8px 0;
    margin-left: 8px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    &:first-of-type {
      border: 1px solid transparent;
      margin-left: 0;
      background-color: $button-color-normal;
      color: $main-color;
    }
    &:nth-child(9),
    &:nth-child(10) {
      opacity: .3;
    }
    &:hover {
      border: 1px solid $button-color-normal;
    }
    &:active {
      color: $main-color;
      background-color: $button-color-normal;
    }
  }
  &__additional-wrapper {
    position: relative;
  }
  &__additional-info {
    width: 271px;
    height: 148px;
    position: absolute;
    top: -160px;
    left: -119px;
    display: none;
    box-sizing: border-box;
    background-color: $main-color;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    p {
      margin: 0;
      padding: 24px;
      @include additional-text;
    }
  }
  &__triangle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $main-color;
    bottom: -4px;
    left: calc(50% - 4px);
    transform: rotate(45deg);
  }
}

#color-light-gray {
  background-color: $light-gray;
}
#color-soft-orange {
  background-color: $soft-orange;
}
#color-orange {
  background-color: $orange;
}
#color-soft-green {
  background-color: $soft-green;
}