@import '../scss/variables.scss';

.sale {
  max-width: 1300px;
  margin: 120px auto 0;
  &__title {
    text-align: start;
    @include popular-title;
  }
  &__nav {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__catalog {
    margin-top: 36px;
    display: flex;
  }
}

.nav {
  &__buttons {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 0;
  }
  &__button {
    margin-left: 8px;
    &:first-of-type {
      margin-left: 0;
      .nav__item {
        color: $main-color;
        background-color: $button-color-normal;
      }
    }
  }
  &__item {
    cursor: pointer;
    padding: 13px 30px;
    border: none;
    border-radius: 21px;
    @include default-text;
    &:hover {
      background-color: $tag-color-hover;
    }
    &:active {
      color: $main-color;
      background-color: $tag-color-pressed;
    }
  }
  &__arrows {
    
  }
  &__btn-arrow {
    cursor: pointer;
    color: $button-color-normal;
    border: 1px solid $button-color-normal;
    background-color: transparent;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    transition: .1s;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    &:first-of-type {
      cursor: default;
      opacity: .2;
    }
    &:last-of-type {
      margin-left: 8px;
      &:active {
        padding-left: 20px;
      }
    }
    &:hover {
      background-color: $slider-btn-hover;
    }
  }
}

.catalog {
  &__item {
    margin-left: 20px;
    position: relative;
    width: 310px;
    height: 370px;
    box-sizing: border-box;
    border: 1px solid $line-color;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &:first-of-type {
      margin-left: 0;
    }
    &:hover {
      overflow: visible;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid transparent;
    }
  }
  &__item-container {
    margin-top: 40px;
    position: relative;
    width: 200px;
    height: 200px;
  }
  &__item-nav {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 8px;
    display: flex;
  }
  &__item-dot {
    width: 6px;
    height: 6px;
    border: 1px solid $button-color-normal;
    border-radius: 50%;
    margin-left: 8px;
    &:first-of-type {
      background-color: $button-color-normal;
      margin-left: 0;
    }
  }
  &__item-image {
    width: 200px;
    height: 200px;
  }
  &__item-tag {
    position: absolute;
    top: 16px;
    left: 24px;
    padding: 4px 11px;
    border-radius: 15px;
    @include tag-text;
    background-color: $tag-color-sale;
  }
  &__item-like {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 20px;
  }
  &__item-more {
    cursor: pointer;
    position: absolute;
    top: 53px;
    right: 20px;
  }
  &__item-info {
    margin-left: 0;
    padding-left: 24px;
  }
  &__price-info {
    width: 100%;
    margin: 26px 0 0 0;
    display: flex;
    align-items: center;
    text-align: start;
  }
  &__price {
    @include price;
  }
  &__discount {
    margin: 0 0 0 8px;
    text-decoration: line-through;
    @include discount;
  }
  &__discount-tag {
    position: absolute;
    bottom: 86px;
    right: 24px;
    padding: 4px 8px;
    border-radius: 15px;
    @include tag-text;
    background-color: $tag-color-discount;
  }
  &__item-description {
    margin: 16px 0 24px;
    @include item-description;
  }
  &__select {
    position: relative;
    cursor: pointer;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include item-description;
    background-color: $main-color;
    border: 1px solid $line-color;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    p {
      margin: 0;
    }
  }
}

.select {
  &__native,
  &__custom {
    width: 262px;
    height: 40px;
  }
  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  &__native:focus,
  &__custom.isActive .select__custom-trigger {
    outline: none;
  }
  &__label {
    display: block;
  }
  &__wrapper {
    position: relative;
    margin-bottom: 8px;
    &_bottom {
      margin-bottom: 24px;
    }
  }
  &__native,
  &__custom-trigger {
    background-color: #fff;
  }
  &__native {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.8rem;
    padding: 0rem 0.8rem;
  }
  &__custom-trigger {
    position: relative;
    width: 262px;
    height: 40px;
    padding: 9px 16px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    cursor: pointer;
  }
  &__custom-trigger::after {
    content: url("../images/rectangle.svg");
    position: absolute;
    top: 0;
    line-height: 40px;
    right: 16.5px;
  }
  &__custom-options {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
    @include default-text;
    background-color: #fff;
    z-index: 1;
    display: none;
  }
  &__custom.isActive .select__custom-options {
    display: block;
  }
  &__custom-option {
    position: relative;
    padding: 9px;
    padding-left: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &__custom-option.isHover,
  &__custom-option:hover {
    background-color: #FAFAFA;
  }
  &__custom-option:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &__custom-option.isActive::before {
    content: url('../images/check.svg');
    position: absolute;
    bottom: 6px;
    left: 135px;
  }
}

@media (hover: hover) {
  .select__custom {
    display: block;
  }

  .select__native:focus + .select__custom {
    display: none;
  }
}