$main-color: #ffffff;
$block-color: #f7f7f7;
$active-color: #e46944;
$item-color: #f8f8f8;
$countdown-color: #f5f5f5;

$button-color-normal: #303030;
$button-color-hover: #4f4f4f;
$button-basket-hover: #505050;
$button-color-pressed: #000000;

$tag-color-normal: #f0f0f0;
$tag-color-hover: #dddddd;
$tag-color-pressed: #303030;
$tag-color-sale: #5b8a8f;
$tag-color-hit: #e1a66b;
$tag-color-discount: #e24b33;

$like-color-normal: #c9c9c9;
$like-color-hover: #969696;
$like-color-pressed: #e24932;

$text-default: #303030;
$text-damped: #8f8f8f;
$text-title: #e1a560;
$text-description: #919191;
$text-search: #a3a3a3;

$line-color: #f0f0f0;
$border-color: #d0d0d0;
$slider-btn-hover: #f5f5f5;

$promo-dark-cyan: #43807f;
$promo-bright-red: #e24b33;
$promo-soft-orange: #e1a661;

$light-gray: #d9d9d9;
$soft-orange: #f1cb7e;
$orange: #ea8c48;
$soft-green: #a7e492;
$border-color: #dadada;

$secondary-button-hover: #979797;
$secondary-button-active: #e24b33;

$additional-info: #d3d3d3;

@mixin default-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
  margin: 0;
}

@mixin additional-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
  color: $text-default;
}

@mixin discount {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: $text-damped;
}

@mixin sm-text {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  color: $main-color;
  margin: 0;
}

@mixin menu-text {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  color: $text-default;
  margin: 0;
}

@mixin tag-text {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  color: $main-color;
}

@mixin price {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: $text-default;
  margin: 0;
}

@mixin countdown-value {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: $text-default;
  margin: 0;
}

@mixin countdown-text {
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  line-height: 1;
  font-weight: 300;
  color: $text-default;
  margin: 0;
}

@mixin promo-offer {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: $text-default;
  margin: 0;
}

@mixin promo-discount {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 600;
  color: $main-color;
}

@mixin promo-value {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  line-height: 57.6px;
  font-weight: 600;
  color: $main-color;
}

@mixin product-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: $text-default;
}

@mixin button-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

@mixin secondary-button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
}

@mixin title {
  font-family: 'Prata', serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  color: $text-title;
  margin: 0;
}

@mixin product-title {
  font-family: 'Prata', serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
}

@mixin description {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.27em;
  color: $text-description;
  margin: 0;
}

@mixin item-description {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  color: $text-default;
}

@mixin info {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $text-default;
}

@mixin slider-offer {
  font-family: 'Prata', serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
  margin: 0;
}

@mixin slider-title {
  font-family: 'Prata', serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
  margin: 0;
}

@mixin popular-title {
  font-family: 'Prata', serif;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
  margin: 0;
}

@mixin popular-item {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $text-default;
  margin: 0;
}

@mixin article-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $text-default;
}